* {
    font-family: fantasy, sans-serif;
    
}

h1 {
    font-size: 55px;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    font-size: 500%;
    margin-left: 50%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
}

.random-palette {
    flex-direction: column;
    width: 70%;
    align-items: center;
    border-right: black solid 2px;
    justify-content: space-around;
    cursor:pointer;
}

.unlock-icon, .lock-icon {
   height: 20px; 
   width: auto;
   padding-left: 5px;
}
.main-buttons-section {
    justify-content: space-around;
    width: 50%;
}

.hidden {
    display: none;
}
.hex-and-lock {
    justify-content: center;
    align-items: center;
}

body, #color-boxes, .random-palette, .hex-and-lock, .main-buttons-section, .saved-mini-palettes, .saved-palettes, .saved-mini-palette {
    display: flex;
}

.saved-palettes {
    height: 100vh;
    display: flex;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start
}

.saved-mini-palettes {
    flex-direction: column;
    width:fit-content;
    height: 10vh;
}

.saved-mini-palette {
    flex-direction: row;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 10px;
}

#color-boxes {
    justify-content: center;
    width: 100%;
}

.box {
    width: 10vw;
    height: 10vw;
    border: black solid 2px;
    border-radius: 4px;
    margin: 10px;
}

.trash {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    cursor:pointer;
}

#new-palette-button, #save-palette-button {
    width: 120px;
    height: 40px;
    border: black solid;
    border-radius: 2px;
    box-shadow: 2px 2px #636060;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;

}

.mini {
    width: 3vw;
    height: 3vw;
    border: black solid 2px;
    border-radius: 4px;
    margin: 5px;
}


